@import url(variables.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 100vh;
}

header {
    background-color: var(--color-blanco);
    position: fixed;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header button {
    transition: all 0.3s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 80px;
    height: 30px;
}

header button:hover {
    transition: 0.5s;
    color: white;
    cursor: pointer;
    background-color: var(--color-gris);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productozone {
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.producto {
    border-radius: 10px;
    display: flex;
    width: 80vw;
    height: 40vh;
    border: var(--color-negro) solid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.productosimgleft {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productoejemplo {
    outline: var(--color-negro) solid;
    width: 100px;
    display: flex;
    flex-direction: column;

}

.productoejemplo img{
    max-height: 70px;
    object-fit: contain;
    padding: 5px;
    -webkit-user-drag: none;
}

.productoimagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.productoimagen img{
    height: 300px;
    object-fit: contain;
    padding: 5px;
    -webkit-user-drag: none;
}






.productomain {
    gap: 10px;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
}

.productomain .stars {
    display: flex;
    flex-direction: row;
}

.productomain .costo {
    font-size: 20px;
    font-weight: bold;
}
.stars i {
    font-size: 30px;
}

.description {
    width: 80%;
}

.obtener {
    border-radius: 10px;
    background-color: var(--color-verde);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 5vw;
    height: 3em;
    transition: all 0.3s;
}

.obtener:hover {
    cursor: pointer;
    background-color: greenyellow;
}

.productobtenido {
    background-color: var(--color-grisclaro);
    border-radius: 10px;
    display: none;
    position: fixed;
    left: 60vh;
    top: 10vw;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    border: var(--color-negro) solid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px #000;
}

.cantidadyagregar {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.agregar {
    border-radius: 10px;
    background-color: var(--color-verde);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 5vw;
    height: 3em;
    transition: all 0.3s;
}

.agregar:hover {
    cursor: pointer;
    background-color: greenyellow;
}

.productobtenidoimagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.productobtenidoimagen img{
    height: 300px;
    object-fit: contain;
    padding: 5px;
    -webkit-user-drag: none;
}

.productoX {
    background: none;
    border: none;
    display: flex;
    position: relative;
    left: 130px;
    bottom: 130px;
}


.productoX i{
    font-size: 50px;
}


.detalles {
    position: fixed;
    left: 60vh;
    top: 10vw;
    outline: #000 solid;
    background-color: var(--color-grisclaro);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    width: 35vw;
    height: 70vh;
    align-items: center;
    box-shadow: 0 0 50px #000;
}

.detallesuper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13%;
}

.detallesuper i{
    margin-left: 5vw;
    font-size: 40px;
}

.detalleszone {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    outline: #000 solid;
    width: 30vw;
    height: 51vh;
    overflow-y: scroll;
}


.productodetalles {
    gap: 0.5vw;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-top: 20px;
    outline: rgb(0, 0, 0) solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 25vw;
}

.productodetallesimg {
    object-fit: contain;
    width: 20%;
    height: 100%;
}

.tituloproductodetalles .tituloproducto {
    font-size: 20px;
}

.cantidaddetalles {
    padding-left: 10px;
    align-items: center;
    outline: var(--color-gris) solid;
    border-radius: 10px;
    outline-width: 2px;
    display: flex;
    height: 30px;
}

.detallespagar {
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 1vw;
    width: 30vw;
    height: 6vh;
    outline: var(--color-negro) solid;
    display: flex;
}

.pagopuro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pagar {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: var(--color-gris);
    border: none;
    width: 5vw;
    height: 3vh;
}

.carritocompras {
    border: none;
    border-radius: 50%;
    display: flex;
    position: fixed;
    bottom: 80vh;
    left: 92vw;
    font-size: 70px;
    transition: all 0.3s;
    transform: rotatez(-30deg);
}

.carritocompras:hover {
    color: var(--color-blanco);
    transform: scalez(5);
    cursor: pointer;
    background-color: var(--color-negro);
}

.buttonX {
    border: none;
}

.buttonX:hover {
    cursor: pointer;
}